body{
    margin: 0;
    font-family: 'Poppins',sans-serif ;
}
h1{
    font-size: 50px;
}
h2{
    font-size:40px;
}
p{
    color: dimgray;
}
.name-highlight{
    color: blueviolet;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightBlue,rgb(91, 145, 195));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
.dream-area{
    float: left;
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
}
a:hover
{
    color:blueviolet;
    font-size: 30px;
    box-shadow: 10px 10px 40px gray;
}

.Half_Width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
    
}

.Half_Width img{
    width: 70%;
}

.Latest-Work{
    margin-top: 20%;
    text-align: center;

}
.Latest-Half_Width
{ 
    width: 30%;
    float: left;
    margin-left: 2%;
    padding-left: 2%;
    box-sizing: border-box;
    box-shadow: 0 0 25px #ccc;
   
}
.Latest-Half_Width img
{
    width: 80%;
    
}
.Latest-Half_Width:hover
{
    width: 32%;
    box-shadow: 10px 10px 40px gray;

}
.clint
{
    text-align: center;

}
.first-clint {
    text-align: center;
    width: 20%;
    float: left;
    margin-left: 5.5%;
    box-shadow: 0 0 25px #ccc;
    min-height: 350px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.First-Clint img
{
    width: 40%;
}
.First-Clint:hover
{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
}

h3 {
    text-align: center;
    display: block;
   font-size: 30px;
    font-weight: bold;
}
#Text-Center
{
    font-size: 25px;
    text-align: center;

}
.Contact {
    background-image: linear-gradient(40deg, lightBlue, rgb(102, 178, 204));
    margin: 0px 200px;
    color: white;
    padding: 30px 60px;
    font-weight: 700;
    border-radius: 10px;
}